# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
# templates
#templates/_helpers.tpl
templates/ingress.yaml
templates/serviceaccount.yaml
templates/tests/
templates/NOTES.txt
#templates/hpa.yaml
#templates/service.yaml
templates/secret1.yaml
templates/secret2.yaml
